.div2{
	margin: 50px;
	padding: 50px;
}
#img2{
	transition: .2s;
}

#h2{
	display: none;
}

.ques{
	padding: 30px;
	cursor: pointer;
	box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.35);
-webkit-box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.35);
}
#anss{
	display: none;
	padding: 30px;
}

#input1{
	color: white;
}
#input2{
	color: black;
}
#input3{
	color: white;
}



.div{
	text-align: center;
	background: yellow;
    border: 1px solid #AAA;
    width: 80px;
    height: 80px;
    margin: 0 5px;
}
.colored {
    background: green;
  }
  .p10{
  	cursor: pointer;
  }
.highlight {
    background-color: green;
  }

  .quess{
	padding: 30px;
	cursor: pointer;
	box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.35);
-webkit-box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.35);
}
.ans{
	padding: 30px;
	display: none;
}

i{
	font-size: 25px;
}

.m{
	margin-right: 70px;
}
.pl::after {
    background-image: url(images/dash.png);
}
#panel, #flip {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}
#para{
width: 250px;
height: 160px;
overflow: scroll;
border: 1px solid red;
font-size: 16px;
}